:root {
    --backgroundColor: light-dark(#f1f4f9, #0c1421);
    --textColor: light-dark(#0c1421, #f1f4f9);
    --mainColor: rgb(70, 85, 186);
    --borderColor: light-dark(rgba(206, 206, 206, 0.605), rgb(55, 55, 55));
}

.modalIntegration {
    color-scheme: light dark;
    position: fixed;
    left: 7rem;
    top: 4rem;
    right: 7rem;
    bottom: 4rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--backgroundColor);
    border: 2px solid var(--borderColor);
    box-shadow: 0px 32px 200px var(--backgroundColor);
}

.modalIntegration h2#modalTitle {
    padding-left: 2rem;
    font-size: 2rem;
    color: var(--textColor);
    word-wrap: break-word;
}

.modalIntegration div#dialogContent {
    padding: 0.2rem 0.1rem;
    margin: 0 2.8rem;
    color: var(--textColor);
    word-break: break-all;
    font-weight: 450;
    font-size: clamp(1.2rem, 2.5vw, 1.3rem);
    overflow: auto;
    height: 70%;
}

.modalIntegration button#closeBtn {
    position: absolute;
    bottom: 1.3rem;
    right: 2.5rem;
    padding: 5px 7px;
    font-size: 1.1rem;
    background-color: var(--mainColor);
    border: 2px solid var(--borderColor);
    outline-offset: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.closed {display: none;}

@media (max-width: 970px), (forced-colors: active) {
	.modalIntegration {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        border-radius: 0;
    }

    .modalIntegration h2#title {
        font-size: 2.4rem;
    }
}

@media (min-width: 970px) {
    @media not (forced-colors: active) {
        .modalIntegration .hoverContent:hover {
            color: var(--mainColor) !important;
        }

        .modalIntegration button#closeBtn:hover {
            transform: translateY(2px);
        }
    }
}